.main-header {
  background-color:#fafafa;

  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.soft-edges {
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

.new-section {
  padding-top: 3rem;
  padding-bottom: 3rem; 
}

.caption-backing {
  background-color:#040404AA;
  padding: 1.5rem;
  border-radius: 1rem;
  margin: auto 2rem 2rem;
}

.about-image {
  margin: 1rem;
  max-width: 80%;
}

.about-image:hover {
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.5);
  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.5);
  box-shadow: 2px 3px 5px rgba(0,0,0,.5);
  transition: 0.2s;
  transform: translateY(-3px);
}

.about-description {
  font-weight: 300;
  font-size: 1.2rem;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.iframe-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}