html {
  font-size: 62.5%;
}

body {
  /* background-color: #fde8e9; */
  background-color: #fafafa;
  color: #1f2232;
  font-family: 'Roboto', sans-serif;
}

.blogContent > pre {
  overflow-wrap: break-word;
  white-space: break-spaces;
}

.blogContent > p {
  overflow-wrap: break-word;
  white-space: break-spaces;
}

.blogContent > p > img {
  width: 75%;
  margin: auto;
  display: block;
}

.layout {
  padding: 0px 25%;
  margin-top: 68px;
  margin-bottom: 32px;
  font-size: 2rem;
}

@media only screen and (max-width: 1024px) {
  .layout {
    padding: 0px 10%;
  }

  .blogContent > p > img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .layout {
    padding: 0px 16px;
  }

  .tabContainer {
    max-width: initial !important;
  }

  .socialContainer {
    width: 60% !important;
  }

  .projectContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 420px) {
  .tabBar {
    min-width: initial !important;
  }

  .projectCardContainer {
    width: 100% !important;
  }
}

a {
  text-decoration: none;
  color: #90c;
}

.homeLink {
  color: #90c;
}

img {
  width: 100%;
}

.socialContainer {
  width: 30%;
  display: flex;
  justify-content: space-around;
  margin: 48px auto;
}

.projectContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  gap: 16px;
}

.tabBar {
  background-color: white;
  position: fixed;
  margin-bottom: 36px;
  width: 100%;
  top: 0;
  min-height: 36px;
  padding: 8px 0px;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  z-index: 100;
}

.tabContainer {
  margin: auto;
  max-width: 50%;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-evenly;
}

.activeTab::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100% !important;
  background-color: #90c;
  height: 3px;
}

.tab {
  position: relative;
  color: #1f2232;
}

.tab::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0%;
  background-color: #90c;
  height: 3px;
}

.tab:hover::after {
  transition: all 0.4s ease-in;
  width: 100%;
}

.projectCard {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
  border: 2px #1f2232 solid;
}

.projectCard:hover {
  transition: all 0.2s;
  transform: scale(1.03);
}

.projectCardContainer {
  width: 45%;
}

.projectCard__content {
  background-color: rgba(12,13,20,0.6);
  color: #fafafa;
  padding: 8px;
}

.projectCard__title {
  margin-bottom: 8px;
}

.projectCard__desc {
  font-size: 1.5rem;
}

.socialLink {
  color: #1f2232;
}

.socialLink:hover {
  color: #90c;
  transition: all 0.2s;
}

/* Drink Mix Styles */
.newIngredientModal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  padding: 0 16px;
  border: 1px solid #777;
  border-radius: 8px;
  box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.4);
  width: 320px;
  outline: none;
}

.newIngredientModal__title {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 16px 0;
}

.newIngredientModal__closeButton {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 4px 6px 10px 6px;
  cursor: pointer;
  border-radius: 8px;
  width: 16px;
  height: 16px;
}

.newIngredientModal__closeButton > svg {
  width: initial !important;
  height: initial;
}

.newIngredientModal__closeButton:hover {
  background-color: #ccc;
  transition: all 0.2s;
}

.newIngredientModal__spacer {
  height: 2px;
  width: 100%;
  background-color: #ccc;
}

.newIngredientModal__form {
  margin: 16px 0;
}

.newIngredientModal__form > div {
  margin-top: 16px;
}

.newIngredientModal__form--input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #999;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  width: 70%
}

.newIngredientModal__form--input:focus {
  box-shadow: 0px 0px 2px 2px rgba(17, 131, 202, 0.8);
  transition: all 0.2s;
  outline: none;
}

.newIngredientModal__form--input:focus + .newIngredientModal__form--label {
  font-size: 1.4rem;
  transition: all 0.3s ease-in-out;
  color: black;
}

.newIngredientModal__form--label {
  display: block;
  font-size: 1.2rem;
  color: #777;
  margin-top: 4px;
}

.newIngredientModal__actionButtonRow {
  display: flex;
  flex-direction: row;
  margin: 16px 0;
  justify-content: left;
  max-width: 150px;
}

.newIngredientModal__button, .newIngredientModal__button--secondary {
  cursor: pointer;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.newIngredientModal__button {
  background-color: #1183CA;
  border: 2px solid #1183CA;
  color: white;
}

.newIngredientModal__button:hover {
  border: 2px solid #0E69A2;
  background-color: #0E69A2;
  transition: all 0.2s;
}

.newIngredientModal__button--secondary {
  margin-left: 8px;
}

.newIngredientModal__button--secondary:hover {
  background-color: #ccc;
  transition: all 0.2s;
}
