html {
  font-size: 62.5%;
}

body {
  /* background-color: #fde8e9; */
  background-color: #fafafa;
  color: #1f2232;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #90c;
}

.homeLink {
  color: #90c;
}

img {
  width: 100%;
}
